# Core functionality - changes here should be rare!
/src/app.py                   @Garima1347
/src/backend/database.py      @Garima1347
/src/backend/routers/auth.py  @Garima1347

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Garima1347
